@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;700&display=swap');

body {
  background-color: #000; /* Initial background color */
  color: #f0f0f0; /* Lighter text color */
  font-family: 'Google Sans', sans-serif;
  margin: 0;
  padding: 0;
  animation: colorChange 10s infinite alternate; /* Animation */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
}

.logo {
  fill: #f0f0f0; /* Lighter logo color */
  height: 40px;
  width: auto;
}

.title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.exec-logo {
  margin-right: auto;
}

.exec-logo img {
  height: 50px;
  width: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar a {
  color: #f0f0f0; /* Lighter text color */
  text-decoration: none;
  margin-right: 20px;
}

.navbar a:last-child {
  margin-right: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}

.main-content h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
}

.main-content p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333333; /* Darker background */
  color: #f0f0f0; /* Lighter text color */
  border: 1px solid #f0f0f0; /* Lighter border color */
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #666666; /* Darker background on hover */
}

.icons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.icon svg {
  fill: #f0f0f0; /* Lighter icon color */
  height: 40px;
  width: auto;
  margin-bottom: 10px;
}

.icon span {
  font-size: 0.8em;
}

.credits {
  margin-top: 20px;
  color: #f0f0f0; /* Lighter text color */
  font-size: 1.2em; /* Bigger text size */
  text-align: center;
}

/* Animation */
@keyframes colorChange {
  0% {
    background-color: #000;
  }
  50% {
    background-color: #666;
  }
  100% {
    background-color: #000;
  }
}
